# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*

# Playwright reports and test results
playwright-report/
test-results/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

wip/*
spain_products.csv
spain_products.csv.backup
spain_products_ingredients.csv
spain_products_ingredients.csv.backup
